:root {
  --primary-color: #f5f5f0;
  --secondary-color: #e6d8c3;
  --dashboard-color: hsl(51, 98%, 68%);
  --primary-font: "SN Pro", sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--primary-font);
}

/* Header */
.header {
  font-weight: 700;
}
/* End Header */

/* Dashboard section */
.dashboard-content {
  background-color: var(--dashboard-color);
}

/* End Dashboard section */
